{% include head.html %}
<!-- header END -->
            <div class="section start-of-page gradient">
                <div class="container pages">
                    <div class="section-header">
                        <div class="heading-jumbo-small session-detail-page w-clearfix">{{ page.title }}</div>
                        <div class="session-metadata">
                            <div class="session-type">Talk</div>
                            <div class="w-dyn-list">
                                <div role="list" class="w-dyn-items">
                                    <div role="listitem" class="w-dyn-item">
                                        <div class="text-block-16">{{ page.speaker }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-block-25">
                            <div class="date-format">{{ page.talk-date | date: "%A"}}</div>
                            <div class="date-format">, </div>
                            <div class="date-format">{{ page.talk-date | date: "%B"}}</div>
                            <div class="date-format"> </div>
                            <div class="date-format">{{ page.talk-date | date: "%d"}}</div>
                            <div class="date-format">th, </div>
                            <div class="date-format">{{ page.talk-date | date: "%R"}}</div>
                        </div>
                        <div class="div-block-25"><a href="{{ page.discord-link }}"
                                target="_blank" class="w-inline-block">
                                <div class="discord-link">join the discussion on discord</div>
                            </a></div>
                    </div>
                </div>
                <div class="circle-container-below">
                    <div class="circle lens header"></div>
                </div>
            </div>
            <div class="section white">
                <div class="container-pages w-container">
                    <div class="narrow-page">
                        <!-- content BEGIN -->
                        {{ content }}
                        <!-- content END -->
                    </div>
                </div>
            </div>

<!-- footer BEGIN -->
{% include footer.html %}